<!DOCTYPE html>
<html>
    <head>
        <title>Temperature Weather</title>
    </head>
    <style>
        #demo {
            -webkit-box-shadow: 5px 5px 15px 5px #000000; 
            box-shadow: 5px 5px 15px 5px #000000;
        }
        #demo {
            background-color: #1C6EA4;
            display: block;
            margin: 50px auto 0;
            color: #FFF;
            padding: 10px;
        }
        #message {
            font-size: 28px
        }
    </style>
    <body>
        <h1>Temperature Weather</h1>
        <div id='demo' class='text-content'>
            <p id='message'> {{ message | safe }}</p>
        </div>
    </body>
</html>